<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%=t('.welcome_msg')%> <%= @user.name %>
    </p>
    <p>
      <%=t('.successful_sign_up_msg')%> <%= @user.email %>.<br>
    </p>
    <p>
      <%=t('.login_url_msg')%> <%= @url %>.
    </p>
    <p><%=t('.thank_you_msg')%></p>
  </body>
</html>
