<p><%= t(:hello).capitalize %> <%= @resource.email %>!</p>

<p><%= t('.request_reset_link_msg') %></p>

<p><%= link_to t('.password_change_link'), "#{ENV['CLIENT_URL']}?resetPasswordToken=#{@token}" %></p>

<p><%= t('.ignore_mail_msg') %></p>
<p><%= t('.no_changes_msg') %></p>
